.disc2{
    margin: 0;
    padding: 0;
    background-color: #E6E6FA;
    height: 200vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}


.disc2_semic11{
    width: 700px; /* Double the width of the container */
    height: 700px; /* Double the height of the container */
    border-radius: 50%; /* Half the width/height of the container */
    position: absolute;
    top:0;
    left: 0;
    margin-top: 5%;
    margin-left: -30%;
    border-width: 3px;
    border-color: #7E506C;
}

.disc2_semic12{
    width: 620px; /* Double the width of the container */
    height: 600px; /* Double the height of the container */
    border-radius: 50%; /* Half the width/height of the container */
    position: absolute;
    top:0;
    left: 0;
    margin-top: 6%;
    margin-left: -30%;
    border-width: 3px;
    border-color: #7E506C;
}

.test1{
    text-align: left;
    margin-left: 44%;
    margin-right: 4%;
}

.test_words11{
    font-weight: bold;
    margin-top: 20%;
}

.test_words12{
    font-weight: bold;
    margin-top: 9%;
}
.test_name1{
    font-size: 1.1rem;
}

.disc2_semic13{
    width: 700px; /* Double the width of the container */
    height: 700px; /* Double the height of the container */
    border-radius: 50%; /* Half the width/height of the container */
    position: absolute;
    bottom:0;
    right: 0;
    margin-bottom: 5%;
    margin-right: -30%;
    border-width: 3px;
    border-color: #7E506C;
}

.disc2_semic14{
    width: 620px; /* Double the width of the container */
    height: 600px; /* Double the height of the container */
    border-radius: 50%; /* Half the width/height of the container */
    position: absolute;
    bottom:0;
    right: 0;
    margin-bottom: 6%;
    margin-right: -30%;
    border-width: 3px;
    border-color: #7E506C;
}

.test2{
    text-align: left;
    margin-right: 45%;
    margin-left: 7%;
}

.test_words21{
    font-weight: bold;
    margin-top: 53%;
}

.test_words22{
    font-weight: bold;
    margin-top: 10%;
}
.test_name2{
    font-size: 1.1rem;
}

.test_name1, .test_name2, .test_words11, .test_words12, .test_words21, .test_words22 {
    opacity: 0;
    transition: opacity 2s;
    will-change: opacity;  /* This hints the browser that the property will be animated */
}
