.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #0090c1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1); /* Add a box shadow to the left side */
}

.sidebar ul {
  list-style-type: none;
  width: 100%; /* This ensures the ul takes the full width of the sidebar */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar ul li {
  margin-bottom: 15px; /* Increased margin for a bit more space */
  width: 100%; /* Make the li take the full width of the ul */
  border-bottom: 1px solid #61c6fa; /* Added border bottom */
}

.sidebar ul li:hover {
  background-color: #61c6fa; /* Change background color on hover */
}

.sidebar ul li a {
  text-decoration: none;
  color: #cbf7ff;
  transition: color 0.3s;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.sidebar ul li a:hover {
  color: #61c6fa;
}
